#error_wrapper
  .container
    .row
      .col
        #content
          header
            h1 500
            h2
              span Whoops!
              br
              | 						Something went wrong on our end,
              br
              | 						we've alerted our engineers to see what happened.
          a.btn.btn-accent.btn-round(href='/') Let's go home
