#app_wrapper
  // top navbar
  app-header#app_topnavbar-wrapper
  // App Sidebar Left
  app-sidebar#app_sidebar-left
  // Main section
  section#content_outer_wrapper
    router-outlet
  app-offsidebar#app_sidebar-right
app-backdrop
