#error_wrapper
  .container
    .row
      .col
        #content
          header
            h1 ۴۰۴
            h2
              span اوه اوه!
              br
              | 						صفحه مورد نظر پیدا نشد.
          a.btn.btn-accent.btn-round(href='/') برگردیم خونه!
